<div class="mat-card">
    <mat-card>
        <h2><b>
            <mat-icon aria-hidden="false">search</mat-icon>
            Get Operations of Machine Type:</b></h2>
    </mat-card>
    <br>
    <div>
        <mat-form-field>
            <mat-select placeholder="Machine Type Name" [(ngModel)]="machType.machineTypeId">
                <mat-option>(no machine type selected)</mat-option>
                <mat-option *ngFor="let mt of machTypeArray" [value]="mt.machineTypeId">{{ mt.name.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div>
            <button id="button" (click)="onGetOperationsClick()">
                Search Operations
            </button>
        </div>
        <br>
        <div>
            <ul *ngFor="let operation of operation">
                <li>
            <span>Operation Id: </span>{{operation.operationId}}<br>
            <span id="name">Name: </span><label id="operationName">{{operation.name}}</label><br>
            <span>Tool Name: </span>{{operation.toolName}}<br>
            <span>Operation Name: </span>{{operation.operationName}}<br>
            <span>Operation time: </span>{{operation.operationTime}}<br>
            <span>Preparation time: </span>{{operation.preparationTime}}
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>
