#button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}

#clickGetClient {
    color : rgb(49, 46, 46);
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

.mat-card card,
.mat-card a {
    margin-right: 3px;
}

h2 {
    color: #4682B4;
    font-family: sans-serif;
}

.textbox{
    display: block;
    margin-left: 1px;
}
