<div class="mat-card">
    <mat-card>
        <h2><b>
            <mat-icon aria-hidden="false">search</mat-icon>
            Search Product
        </b></h2>
    </mat-card>
    <br>
    <div>
        <mat-form-field>
            <mat-select placeholder="Product Name" [(ngModel)]="productObj.id">
                <mat-option>(no product selected)</mat-option>
                <mat-option *ngFor="let product of prodArray" [value]="product.id">{{ product.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button id="button" (click)="onGetProductClick()">
            Product information
        </button>
        <br>
        <div>
          <br>
            <span>Manufacturing Plan: </span>{{productObj.manPlan}}
        </div>
    </div>
</div>
