canvas {
    height: 85vh;
}

#button {
    color : rgb(49, 46, 46);
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

#button2 {
    color : rgb(49, 46, 46);
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

.textbox {
    display: block;
    margin-left: 1px;
}

.mat-card card,
.mat-card a {
    margin-right: 15px;
}

#status {
    text-align: center;
    white-space: pre;
    font-family: Arial, sans-serif;
    font-size: small;
}

#tooltip {
    position: absolute;
    left: 50px;
    top: 50px;
    min-width: 100px;
    min-height: 30px;
    text-align: center;
    padding: 5px 12px;
    font-family: monospace;
    background: #a0c020;
    opacity: 90;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    visibility: hidden;
    z-index: 999;
}
